.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2; 
    padding: 42px 136px  0 136px;
  }
  .logo{
    left: 136px;
    background:url("./greypaper.jpeg");
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo.extended{
    width: 290px;
    height: 100px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
  }
  .logo-img {
    width: 40px; 
    height: 60px;
  }
  .logo-img.extended{
    margin-top: -15px;
    width: 200px; /* Adjust the logo size as needed */
    height: 60px;
    background: transparent;
  }
  .menu-icon {
    background:url("./greypaper.jpeg");
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .menu-icon img {
    width: 29px; 
    height: 36px;
    cursor: pointer;
  }
  @media screen and (max-width: 480px) {
    .navbar {
      width: 100%;
      padding: 32px 26px  0 26px;
    }
    .logo{
      left: 26px;
      height: 70px;
      width: 70px;
    }
    .logo.extended{
      width: 150px;
      height: 70px;
      border-radius: 45px;
    }
    .logo-img {
      width: 30px; 
      height: 45px;
    }
    .logo-img.extended{
      width: 100px; 
      height: 45px;
    }
    .menu-icon{
      height: 70px;
      width: 70px;
    } 
  }

  @media screen and (max-width: 768px) {
    .navbar {
      width: 100%;
      padding: 32px 30px 0px 30px;
    }
    .logo{
      left: 26px;
      height: 70px;
      width: 70px;
    }
    .logo.extended{
      width: 150px;
      height: 70px;
      border-radius: 45px;
    }
    .logo-img {
      width: 30px; 
      height: 45px;
    }
    .logo-img.extended{
      width: 100px; 
      height: 45px;
    }
    .menu-icon{
      height: 70px;
      width: 70px;
    } 
  }
  